PATH_add scripts
export PYTHON_VERSIONS="3.10 3.11 3.12 3.13"

# Uncomment if using Nix
# use nix
# export UV_PYTHON_DOWNLOADS=never

# Personal
export API_KEY=<YOUR KEY>
export CLIENT_SECRET=<YOUR SECRET>
export PRIVATE_TOKEN=<YOUR PRIVATE TOKEN>
export PUBLIC_TOKEN=<YOUR TOKEN> 
